header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0vw;
    width: 100%;
    height: 130px;
    background-color: #FB6B6B;
}

header img {
    width: 52px;
    height: 60px; 
}
  
header p {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    color: white;
    letter-spacing: -0.012em;
    padding-left: 20px;
}
/*
header {
    opacity: 0.5;
    transition: opacity .5s cubic-bezier(0.6, 0.04, 0.98, 0.335)
} */
